$gray: #999;

.social {
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.social li {
    color: #000;
    float: left;
    i {
      &:first-child::before {
        margin-left: 0;
      }
      @include fluidType(26px, 34px);
      transition: color .3s;
      &:hover {
        color: $gray;
      }
    }
  }
// }